

/*
 *
 * bottom navigation next/previous, home 
 *
 *
 */
#wrapper #navigation {

}

#wrapper .slide h2 {

}
#wrapper .slide h3 {

}


/*
 *
 * section title, aka tag
 *
 *
 */	

#wrapper .tag img {
	background-color:#03c;
	
}
#wrapper .tag h2{
	color:#000;
}

#wrapper .tag h3{
	color:#069;
}

#wrapper .progress {
	background-color:#069;
	}
