/*
 *
 * bottom navigation next/previous, home 
 *
 *
 */
body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#eee;
	font-family: Arial, sans_serif;
	-ms-interpolation-mode: bicubic;
}
section {	
}
#wrapper {
	margin: 0 auto;
	max-width:1024px;
	padding: 0;
	min-height:500px;
	position:relative;
	box-shadow: 0 25px 25px #999;
}



#wrapper #container {
	padding: 0;
	margin: 0;
	min-height: 500px;
	max-width:100%;
	background-color:#fff;
	position:relative;
	overflow-x:hidden;
	overflow-y:visible;
}

/*
 *
 * bottom navigation next/previous, home 
 *
 *
 */
#wrapper #navigation {
	position:relative;
	height:80px;
	background-color:#fff;
	width:100%;
	color:#666;
	padding:0;
	margin:0;
	font-size:12px;
	font-weight:bold;
}
#wrapper #navigation a {
	color:#666;
	text-decoration:none;
	display:block;
	padding:0;
	margin:0;
	float:left;
	}

#wrapper #navigation p {
	line-height:1.25em;
	margin:4px 0 0 0;
	padding:0;
	}

#wrapper #relative{
	padding:0 2% 0 0;
	float:right;
	width:45%;
}
#wrapper #absolute {
	padding:0 0 0 2%;
	float: left;
	width:45%;
}

#wrapper #navigation ul{
	display:block;
	float:right;
	height:80px;
	text-align:center;
	margin:0;
	padding:0 8px;
	list-style-type:none;
}
#wrapper #relative ul{
	float:right;
}
#wrapper #absolute ul{
	float:left;
}


#wrapper #navigation li{
	margin:0;
	padding:0;
	display:inline;
	line-height:1.25em;
}

#wrapper #navigation img{
	display:block;
	height:60px;
	width:60px;
	vertical-align:middle;
	margin: 0 6px;
	padding:0;
	border:0;
}





/*
 *
 * FIPS top bar
 *
 *
 */
#wrapper #fipsbar {
	width:100%;
	height:40px;
	background-color:#000;
	color:#fff;
	font-size:12px;
	margin:0;
	padding:0;
	overflow:hidden;
	}

#wrapper   #wordmark{
	float: right;
	text-align:right;
	padding-right:10px;
	}
	
#wrapper  #department{
	float:left;
	padding-left:10px;
}

/*
 *
 * Table of Contents page
 *
 *
 */

#wrapper  .toc  {
}

#wrapper  .toc a {
	text-decoration:none;
	font-size:18px;
	padding:0 0 14px 40px;
	width:290px;
	display:block;
	float:left;
	color:#666;
	}
#wrapper .toc a:hover {
	color:#000;
	}
#wrapper .slide {
	font-family:'Open Sans',Arial,sans-serif;
	font-weight:normal;
	font-size:20px;
	width:100%;
	margin:0;
	padding:0;
	}
	
#wrapper .slide h1,h2,h3 {
	font-weight:normal;
	}
#wrapper .slide h2 {
	margin-top: 10px;

}
#wrapper .slide h3 {
	font-size:36px;
}

#wrapper .slide p {
	padding:14px;
	line-height:1.5em;
	}
#wrapper .stage-right{
	left:800px;
	}
#wrapper  .stage-left{
	left:-800px;
	}
#wrapper .slide .span-16{
	width:16%;
	float:left;
	min-width:160px;
	}
#wrapper .slide .span-26{
	width:33%;
	float:left;
	min-width:330px;
	}
#wrapper .slide .span-36{
	width:50%;
	float:left;
	min-width:400px;
	}
#wrapper .slide .span-46{
	width:66%;
	float:left;
	background-color: transparent;
	}
#wrapper .slide .span-56{
	width:77%;
	float:left;
	}
#wrapper .slide .span-66{
	width:99%;
	float:left;
	}
#wrapper .slide .span-14{
	width:25%;
	float:left;
	min-width:250px;
	}
#wrapper .slide .span-24{
	width:50%;
	float:left;
	}
#wrapper .slide .span-34{
	width:75%;
	float:left;
	}
#wrapper .slide .span-44{
	width:99%;
	float:left;
	}
#wrapper .slide .span-100{
	width:100%;
	float:left;
	}
	
	
	
/*
 *
 * section title, aka tag
 *
 *
 */	
#wrapper .tag {
	margin:0 20px 0 0;
	padding:20px 0 0 0;
	height: 100px;
	width: 100%;
	}
#wrapper .tag img {
	float:left;
	height:80px;
	width:50px;
	background-color:#33f;
	margin-right:20px;
}
#wrapper .tag h2{
	font-size:12px;
	padding:0;
	margin:0 0 8px 0;
	line-height:1em;
}

#wrapper .tag h3{
	font-size:36px;
	padding:0;
	margin:0;
	line-height:1em;
}

#wrapper .progress {
	height: 8px;
	background-color:#ccc;
	margin-top:1px;
	}
	
/* to prevent any container height collapses:*/
#wrapper .clear-fix{
	clear:both;
	}
	
@media all and (max-width:480px) {
	#wrapper #navigation {
		height:160px;
	}
	#wrapper .slide h2 {
		
	}
	#wrapper .slide h3 {
		font-size:22px; 
	}

	
	#wrapper .slide .span-16{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-26{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-36{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-46{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-56{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-66{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-14{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-24{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-34{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-44{
		width:99%;
		float:left;
		}
	#wrapper .slide .span-100{
		width:99%;
		float:left;
		}

}